<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.luckyproject.mapper.FcmMapper">

    <insert id="insertFcmHistory" parameterType="com.lucky.luckyproject.domain.FcmHistory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO fcm_history (
            target_token,
            title,
            body,
            status,
            response_msg,
            created_at
        ) VALUES (
            #{targetToken},
            #{title},
            #{body},
            #{status},
            #{responseMsg},
            NOW()
        )
    </insert>

</mapper>
